<div class="row list-page">
    <div class="row">
        <div class="col-lg-2 col-md-3 help-column">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">Search images</div>
                    <div class="panel-body">
                        <form novalidate role="form">
                            <div class="form-group">
                                <label for="imageName">Part of name:</label>
                                <input type="text" class="form-control" id="imageName" placeholder="Enter part of name"
                                       ng-model="searchSettings.imageName">
                            </div>
                            <div class="form-group">
                                <label for="searchImageFormat">Format:</label>
                                <select class="form-control" id="searchImageFormat" ng-model="searchSettings.extension">
                                    <option value="">All</option>
                                    <option value="(.png)">.png</option>
                                    <option value="(.jpg|.jpeg)">.jpg</option>
                                    <option value="(.bmp)">.bmp</option>
                                    <option value="(.gif)">.gif</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default pull-right" ng-click="resetSearchSettings()">
                                Reset search settings
                            </button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Upload new image</div>
                    <div class="panel-body">
                        <form novalidate role="form">
                            <div class="form-group">
                                <label for="imageName">Select file:</label>
                                <button class="btn btn-default" ngf-select ng-model="files" ngf-multiple="false"
                                        accept=".jpeg, .jpg, .png, .bmp, .gif">Select File
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Group processing</div>
                    <div class="panel-body">
                        <p ng-show="groupImageIds.length === 0">Group doesn't contain image files</p>
                        <p ng-show="groupImageIds.length !== 0">Group contains {{groupImageIds.length}} image files</p>
                        <div ng-show="groupImageIds.length > 0">
                            <button class="btn btn-default" ng-click="clearGroup()">Clear group</button>
                            <button class="btn btn-default" ng-click="editGroup()">Edit group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 image-column">
            <div ng-repeat="image in images | filter:searchImages | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                 class="col-md-3 col-sm-6">
                <a ng-href="#/edit/{{image._id}}" class="thumbnail thumbnail-link">
                    <p class="text-center">{{image.name}}</p>
                    <img ng-src="image/{{image._id}}?{{hash}}" alt="Image" class="img-responsive">
                    <div class="btn-group thumbnail-menu text-center col-xs-offset-5 col-md-offset-2 col-lg-offset-3">
                        <button type="button" class="btn btn-inverse thumbnail-menu-button" aria-label="Remove Image"
                                tooltip="Remove image" tooltip-popup-delay="1000" ng-click="removeImage(image, $event)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-inverse thumbnail-menu-button" aria-label="Edit Image"
                                tooltip="Edit image" tooltip-popup-delay="1000">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-inverse thumbnail-menu-button" aria-label="Print Image"
                                tooltip="Print image" tooltip-popup-delay="1000" ng-click="printImage(image, $event)"
                                print-images images="[image]">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-inverse thumbnail-menu-button" aria-label="Send e-mail"
                                tooltip="Send e-mail" tooltip-popup-delay="1000" ng-click="sendEmail(image, $event)">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </button>
                        <button ng-show="groupImageIds.indexOf(image._id) === -1" type="button"
                                class="btn btn-inverse thumbnail-menu-button" aria-label="Add to group"
                                tooltip="Add to group" tooltip-popup-delay="1000" ng-click="addToGroup(image, $event)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button ng-show="groupImageIds.indexOf(image._id) !== -1" type="button"
                                class="btn btn-inverse thumbnail-menu-button" aria-label="Remove from group"
                                tooltip="Remove from group" tooltip-popup-delay="1000"
                                ng-click="removeFromGroup(image, $event)">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="clearfix text-right col-md-12" ng-show="totalItems > entryLimit">
                <pagination total-items="totalItems" items-per-page="entryLimit" ng-model="currentPage"></pagination>
            </div>
        </div>
    </div>
</div>